<%= provide(:title, "Orders") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Admin Panel: Orders</h4>
  </div>



  <div class="container">
    <%= render 'orders_info' %>
    <%= will_paginate @orders %>
  </div>
