<%= provide(:title, "Users") %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Admin Panel: Users</h4>
  </div>
</div>


<div class="container">
  <%= render 'layouts/white_space' %>
  <%= render 'users_info' %>
  <%= will_paginate @users %>
</div>
