<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Stationery Management System</title>
    <%= render 'layouts/default'%>  <!-- rails default tags in partical -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
